<h2>Busca no Climatempo</h2>
<label for="climatempo">Digite o nome da cidade</label>
<input type="text" data-ng-model="searchCep" class="clearfix" />
<button class="btn btn-success" data-ng-click="searchCityInformationByCep()">Buscar no Climatempo</button>

<table class="table table-striped">
    <tr>
        <th>UF</th>
        <th>Cidade</th>
        <th>Logradouro</th>
    </tr>
  <tr>
    <td>{{ twitterResult.uf }}</td>
    <td>{{ twitterResult.cidade }}</td>
    <td>{{ twitterResult.logradouro }}</td>
  </tr>
</table>
