<h2>Total Snippet(s): {{ snippets.length }}</h2>

<label for="searchSnippet">Search Snippet: </label>
<input type="search" name="searchSnippet" id="searchSnippet" data-ng-model="searchSnippet" />

<label for="searchSnippet">Select Snippets List by Programming Language: </label>
<select name="programmingLanguage" id="programmingLanguage" data-ng-model="selectProgrammingLanguage" data-ng-options="item.name for item in arrayAvailableLanguages" data-ng-change="selectSnippetByLanguage(selectProgrammingLanguage.name);">
  <option value="">Select Language</option>
</select>

<table class="table" >
  <thead>
    <tr>
      <th>Snippet</th>
      <th>Tag</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="item in snippets | filter:searchSnippet">
      <td>
        <span class="done-{{ item.done }}">{{ item.text }}</span>
      </td>
      <td>
        <span class="done-{{ item.done }}">{{ item.tag }}</span>
      </td>
      <td>
        <button class="btn show-snippet-info" data-ng-model="item.done" data-ng-click="removeSnippet($index);" > Edit </button>
        <button class="btn btn-danger" data-ng-click="removeSnippet($index);" > Delete </button>
      </td>
    </tr>
  </tbody>
</table>

<div class="btn-group">
  <a href="#!/index" class="btn btn-warning">Start over</a>
  <a href="#form-snippet" data-toggle="modal" class="btn " data-ng-model="showSnippetInformationsForm">Add a snippet</a>
</div><br/><br/>
<textarea data-ng-model="text" class="texteditor left" data-ng-change="compileTextWithSnippets(text)"></textarea>
<!-- <textarea data-ng-model="compiledText" class="left prettyprint code-compiled linenums"></textarea> -->
<pre class="left prettyprint code-compiled linenums"></pre>

<div data-ng-show="showSnippetInformationsForm" class="modal {{showSnippetInformationsForm || 'hide'}}" id="form-snippet">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">x</button>
    <h3>Adding a snippet in editor</h3>
  </div>
  <div class="modal-body">
    <div class="row-fluid">
      <div class="span10 offset1">
        <div id="modalTab">
          <div class="tab-content">
            <form method="post" name="form_snippet" id="form_snippet" action="#index" autocomplete = "off">
              <label>Título:</label>
              <input type="text" value="0" data-ng-model="snippet.text" data-ng-model-instant />
              <label>Tag:</label>
              <input type="text" value="0" data-ng-model="snippet.tag" data-ng-model-instant />
              <label>Snippet:</label>
              <textarea value="0" data-ng-model="snippet.snippet" data-ng-model-instant rows="10" cols="20"/></textarea><br/>

              <input type="button" class="btn btn-primary" value="Save" data-ng-click="addSnippet();" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
